form td
{
    padding-left:20px;
    //border:1px solid #CBDEED;
    height:30px;
    color: #8ab4f8;
}
#system_frame
{
/*
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
*/
    color: #bdc1c6;
    flex-direction: column;
    display: flex;
    padding: 2px;
    border-style: solid;
    border-color: #5f6368;
    text-align: center;
    margin: 20px 16%;
}

#system_frame h1
{
    color: #bdc1c6;
}
#system_frame div
{
    display: flex;
    justify-content: center;
    margin: 10px;
}
#system_frame div div
{
    margin: auto 15px;
}
.button
{
    display: flex;
    flex-direction: column
}

#system_frame h3
{
    color: #5f6368;
}


#system_frame .text
{
    //background: #bdc1c6;
    width: 160px;
}
a:link
{
    color: #bdc1c6;
    text-decoration: none;
}
a:visited
{
    color: #bdc1c6;
    text-decoration: none;
}
a:hover {
    color: #6a9ac9;
    text-decoration: none;
}
a:active {
    color: #6a9ac9;
    text-decoration: none;

}