
#login_frame
{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-style: solid;
    border-color: #5f6368;
    text-align: center;
    width: 600px;
}
#system_frame
{
/*
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
*/
    color: #bdc1c6;
    flex-direction: column;
    display: flex;
    padding: 2px;
    border-style: solid;
    border-color: #5f6368;
    text-align: center;
    margin: 20px 16%;
}
#login_frame h1
{
    color: #bdc1c6;
}
#system_frame h1
{
    color: #bdc1c6;
}
#system_frame div
{
    display: flex;
    justify-content: center;
    margin: 10px;
}
#system_frame div div
{
    margin: auto 15px;
}
.button
{
    display: flex;
    flex-direction: column
}


#login_frame h3
{
    color: #5f6368;
}
#system_frame h3
{
    color: #5f6368;
}


#login_frame .text
{
    //background: #bdc1c6;
    width: 160px;
}
#system_frame .text
{
    //background: #bdc1c6;
    width: 160px;
}